body {
    padding: 10px;
    background-color: #222;
    font-family: 'Kanit', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #888;
    /* position: relative; */
}

.title {
    font-size: 40px;
}

.bordertable {
    border: #888 2px solid;
    border-collapse: collapse;
}
th {
    background-color: #555;
    color: #111;
}
td {
    text-align: center;
    background-color: #444;
}

.backbtn {
    margin-top: 5px;
    background-color: #444;
    border: solid 3px #888;

    height: 35px;

    font-size: large;
    color: #888;
    font-family: 'Azeret Mono', sans-serif;

    /* position: absolute;
    bottom: 10px; */
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 10px;
}

.space {
    height: 1000px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #222;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {
    background-color: #111;
}